{% block body_block %}
<h1>Delete account</h1>
<p>Are you sure you want to delete your account?</p>
<form action="{% url 'accounts:account_confirm_deactivate' %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Deactivate account">
</form>
<a href="{% url 'accounts:settings' %}"><button>Nevermind</button></a>

{% endblock %}