{% block body_block %}

<h3><a href="{% url 'dashboard:home' %}">Jawa</a> > <a href="{% url 'dashboard:dashboard' %}">Dashboard</a> > <b>Bookings</b></h3>
<h4>Logged in as {{user}} ({{user.get_user_type_display}})</h4>

<table>
    <tr>
        <th>No</th>
        <th>Status</th>
        <th>Tenant</th>
        <th>Check-in</th>
        <th>Check-out</th>
        <th>Rent</th>
        <th>Action</th>
    </tr>
{% for booking in bookings %}
    <tr>
        <td>{{booking.id}}</td>
        <td>{{booking.get_status_display}}</td>
        <td>{{booking.tenant.user.first_name}} {{booking.tenant.user.last_name}}</td>
        <td>{{booking.check_in}}</td>
        <td>{{booking.check_out}}</td>
        <td>{{booking.rent}}</td>
        <td>
            <a href="">Edit</a>
            <a href="">Delete</a>
        </td>
    </tr>
{% endfor %}
</table>


<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        width:auto;
        padding: 5px;
    }
</style>
    


{% endblock %}