{% block body_block %}

<h3><a href="{% url 'dashboard:home' %}">Jawa</a> > <a href="{% url 'dashboard:dashboard' %}">Dashboard</a> > <b>buildings</b></h3>
<h4>Logged in as {{user}} ({{user.get_user_type_display}})</h4>

<table>
    <tr>
        <th>No</th>
        <th>Unit</th>
        <th>Address</th>
        <th>Landlord</th>
        <th>Action</th>
    </tr>
{% for building in buildings %}
    <tr>
        <td>{{building.id}}</td>
        <td>{{building.unit}}</td>
        <td>{{building.address}}</td>
        <td>{{building.landlord.user.first_name}} {{building.landlord.user.last_name}}</td>
        <td>
            <a href="{% url 'accounts:building_update' pk=building.id%}">Edit</a>
            <a href="{% url 'accounts:building_delete' pk=building.id%}">Delete</a>
        </td>
    </tr>
{% endfor %}
</table>


<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        width:auto;
        padding: 5px;
    }
</style>
    


{% endblock %}