{% block body_block %}

<h3><a href="{% url 'dashboard:home' %}">Jawa</a> > <a href="{% url 'dashboard:dashboard' %}">Dashboard</a> > <b>Create new building</b></h3>
<h4>Logged in as {{user}} ({{user.get_user_type_display}})</h4>

<h1>Create a building</h1>
<form action="" method="post">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Submit">
</form>

{% endblock %}
