{% block body_block %}
<h1>Delete building</h1>
<p>Are you sure you want to delete {{building}}?</p>
<form action="" method="post">
    {% csrf_token %}
    <input type="submit" value="Delete">
</form>
<a href="{% url 'accounts:building_list' %}"><button>Nevermind</button></a>

{% endblock %}