{% block content %}

<h1>Sign Up Mogadishu</h1>

<p>Already have an account? Then please <a href="{{ login_url }}">sign in</a></p>

<form action="" method="post">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Submit">
</form>

<script>
    document.getElementById('id_user_type').style.display = "none"
    document.querySelector("label[for='id_user_type']").style.display = "none"
</script>

{% endblock %}