{% block body_block %}

<h3><a href="{% url 'dashboard:home' %}">Jawa</a> > <a href="{% url 'dashboard:dashboard' %}">Dashboard</a> > <b>Invite List</b></h3>
<h4>Logged in as {{user}} ({{user.get_user_type_display}})</h4>

<table>
    <tr>
        <th>No</th>
        <th>Email</th>
        <th>Type</th>
        <th>Action</th>
    </tr>
{% for invitation in invitations %}
    <tr>
        <td>{{invitation.id}}</td>
        <td>{{invitation.email}}</td>
        <td>{{invitation.get_user_type_display}}</td>
        <td><a href="{% url 'accounts:invite_resend' pk=invitation.id %}">Resend</a></td>
    </tr>
{% endfor %}
</table>


<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        width:20%
    }
</style>
    


{% endblock %}