{% block body_block %}

<h3><a href="{% url 'dashboard:home' %}">Jawa</a> > <a href="{% url 'dashboard:dashboard' %}">Dashboard</a> > <b>Notifications</b></h3>
<h4>Logged in as {{user}} ({{user.get_user_type_display}})</h4>




<table>

    {% for event in notifications %}
    
        <tr>
            <td>
                {% if user.user_type == 1 %}
                    {{event.building.landlord.user.organization.name}}
                {% else %}
                    {% if event.get_model_name == "Invitation" %} {{event.email}} {% else %} {{event.tenant}} {% endif %}
                {% endif %}
                <br>
                {{event.get_create_delta.value}} {{event.get_create_delta.units}} ago
            </td>
            <td class='preview'>
                <a href="">{% if event.get_model_name == "Invitation" %} {{event.get_user_type_display    }} {% else %} {{event.building}} {% endif %}</a>
                <br>
                {% if event.get_model_name == "Invitation" %} Invitation {% else %} Booking Request {% endif %}
            </td>
            <td>Pending</td>
        </tr>
    </strong>
    {% endfor %}
</table>



<style>
    table, th, td {
        border-bottom: 1px solid #c3c3c3;
        border-collapse: collapse;
        width:auto;
        padding: 5px 50px 5px 5px;
    }
    .preview {
        width: 175px;
    }

    .unread{
        font-weight: 700;
        background-color: #rgb(232,232,232)
    }
</style>
    
    


{% endblock %}