{% block body_block %}

<h3><a href="{% url 'dashboard:home' %}">Jawa</a> > <a href="{% url 'dashboard:dashboard' %}">Dashboard</a> >
<b>
    {% if user_type == 1 %} Tenants 
    {% elif user_type == 2 %} Landlords
    {% elif user_type == 3 %} Merchants 
    {% endif %}
</b></h3>
<h4>Logged in as {{user}} ({{user.get_user_type_display}})</h4>

<table>
    <tr>
        <th>No</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Email</th>
        <th>Action</th>
    </tr>
{% for user_profile in user_profiles %}
    <tr>
        <td>{{user_profile.id}}</td>
        <td>{{user_profile.user.first_name}}</td>
        <td>{{user_profile.user.last_name}}</td>
        <td>{{user_profile.user.email}}</td>
        <td>
            <a href="{% url 'accounts:user_update' username=user_profile.user.username %}">Edit</a>
            <a href="{% url 'accounts:conversation_create' username=user_profile.user.username %}">Contact</a>
        </td>
    </tr>
{% endfor %}
</table>


<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        width:auto;
        padding: 5px;
    }
</style>
    


{% endblock %}