{% block body_block %}

<h3><a href="{% url 'dashboard:home' %}">Jawa</a> > <a href="{% url 'dashboard:dashboard' %}">Dashboard</a> > <a href="{% url 'accounts:settings' %}">Settings</a> > <b>Contact Details</b></h3>
<h4>Logged in as {{user}} ({{user.get_user_type_display}})</h4>    

<h1>Update Contact Details</h1>
<form action="" method="post">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Submit">
</form>

{% endblock %}
