{% block body_block %}

<h1>Select your account type</h1>
<form action="{% url 'accounts:user_type_select' %}" method="post">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Submit">
</form>

{% endblock %}
