{% block body_block %}

<h3><a href="{% url 'dashboard:home' %}">Jawa</a> > <a href="{% url 'dashboard:dashboard' %}">Dashboard</a> > <b>Settings</b></h3>
<h4>Logged in as {{user}} ({{user.get_user_type_display}})</h4>    

<h4>Menu</h4>
<ul>
    <li><a href="{% url 'accounts:profile_update' %}">Profile</a></li>
    <li><a href="{% url 'accounts:banking_update' %}">Banking Details</a></li>
    <li><a href="{% url 'account_change_password' %}">Change Password</a></li>
    <li><a href="{% url 'account_email' %}">Manage Email</a></li>
    <li><a href="{% url 'socialaccount_connections' %}">Social Connections</a></li>
    <li><a href="{% url 'accounts:account_confirm_deactivate' %}">Deactivate Account</a></li>
</ul>

{% endblock %}