{% block body_block %}

<h3><a href="{% url 'dashboard:home' %}">Jawa</a> > <a href="{% url 'dashboard:dashboard' %}">Dashboard</a> > 
<a href="{% url redirect_url %}"> 
    {% if user_type == 1 %}Tenants
    {% elif user_type == 2 %}Landlords
    {% elif user_type == 3 %}Merchants
    {% endif %}
</a> >
<b>Update user</b></h3>

<h4>Successfully signed in as {{user}} ({{user.get_user_type_display}})</h4>

<h1>Update User</h1>
<form action="" method="post">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Submit">
</form>

{% endblock %}
