{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<h1>{% trans "Sign Up" %} Mogadishu</h1>

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button type="submit">{% trans "Sign Up" %} &raquo;</button>
</form>

<script>
//     userTypeField = document.getElementById('id_user_type')
//     organizationField = document.getElementById('id_organization') 
//     organizationLabel = document.querySelector("label[for='id_organization']")
//     userTypeField.addEventListener('change', function(e) {
//         if (e.target.value === '3') {
//             organizationField.style.visibility = "hidden"
//             organizationLabel.style.visibility = "hidden"
//         } else {
//             organizationField.style.visibility = "visible"
//             organizationLabel.style.visibility = "visible"
//         }
// })
</script>
{% endblock %}
