{% block body_block %}

<h3><a href="{% url 'dashboard:home' %}">Jawa</a> > <b>Dashboard</b></h3>
<h4>Logged in as {{user}} ({{request.user.get_user_type_display}})</h4>
<h5>Organization {{user.organization}}</h5>


<ul>
    <li><a href="{% url 'dashboard:listing_list' slug=user.organization.slug %}">Preview site</a></li>
    <li><a href="{% url 'accounts:notifications' %}">Notifications ({{pending_events}})</a></li>
    <li><a href="{% url 'inbox:conversation_list' %}">Inbox ({{inbox}})</a></li>
    <li><a href="{% url 'accounts:settings' %}">Settings</a></li>
    <li><a href="{% url 'account_logout' %}">Log out</a></li>

</ul>

<b>Menu</b><br>

<ul>
    {% if user.user_type == 4 %}
        <li><a href="{% url 'accounts:user_invite' %}">+ Invite new user</a></li>
        <li><a href="{% url 'accounts:building_create' %}">+ Add new building</a></li>
        <li><a href="{% url 'accounts:booking_create' %}">+ Create booking</a></li>
        <br>
        <li><a href="{% url 'accounts:tenant_list' %}">Tenants</a></li>
        <li><a href="{% url 'accounts:landlord_list' %}">Landlords</a></li>
        <li><a href="{% url 'accounts:merchant_list' %}">Merchants</a></li>
        <li><a href="{% url 'accounts:building_list' %}">Buildings</a></li>
        <li><a href="{% url 'accounts:booking_list' %}">Bookings</a></li>
    {% else %}
        <li><a href="{% url 'accounts:conversation_create' username=manager.user.username %}">+ New inquiry</a></li>
        
    {% endif %} 
</ul>

{% endblock %}

