{% load socialaccount %}
<h1>Jawa</h1>
<b>Menu</b><br>
{% if user.is_authenticated %}

<h4>Logged in as {{user}} ({{user.get_user_type_display}})</h4>

<ul>
    <li><a href="{% url 'dashboard:dashboard' %}">Dashboard</a></li>
    <li><a href="{% url 'account_logout' %}">Logout</a></li>
{% else %}
    <li><a href="{% url 'account_login' %}">Log in</a></li>
    <li><a href="{% url 'account_signup' %}">Sign up</a></li>
    <li><a href="{% provider_login_url 'google' %}">Login with Google</a></li>
{% endif %}
</ul>


