{% block body_block %}

<h1>{{organization}}</h1>

    <table>
        {% for building in buildings %}
        <tr>
            <td><a href="{% url 'dashboard:listing' slug=organization.slug pk=building.id %}">{{building}}</a></td>
        </tr>
        {% endfor %}
    </table>


{% endblock %}