{% block body_block %}

<h1>{{building}}</h1>


{% if building.rental_type == 1 or building.rental_type == 3 %}
    <h2>Entire unit</h2>
    <h4>{{building.size}} bedrooms · {{building.bath}} baths</h4>
    {% for listing in listings %}
        {% if listing.unit_type == 1 %}
            <h4>{{listing}}</h4>
            <h4><a href="{% url 'dashboard:check_out' slug=organization.slug pk=listing.id %}">Book Now</a></h4>
        {% endif %}
    {% endfor %}
{% endif %}

{% if building.rental_type == 2 or building.rental_type == 3 %}
    <h2>Private room</h2>
    <h4>{{building.size}} bedrooms · {{building.bath}} baths</h4>
    {% for listing in listings %}
        {% if listing.unit_type == 2 %}
            <h4>Room {{listing.room_no}}</h4>
            <h4><a href="{% url 'dashboard:check_out' slug=organization.slug pk=listing.id %}">Book Now</a></h4>
        {% endif %}
    {% endfor %}
{% endif %}





{% endblock %}