{% block body_block %}

<h3><a href="{% url 'dashboard:home' %}">Jawa</a> > <a href="{% url 'dashboard:dashboard' %}">Dashboard</a> > <b>Inbox</b></h3>
<h4>Logged in as {{user}} ({{user.get_user_type_display}})</h4>

<table>

{% for status in thread %}

    <tr {% if not status.is_read %} class="unread" {% endif %}>
        <td>
            {% if user == status.conversation.get_last_message.receiver %} {{status.conversation.get_last_message.sender}} {% else %} {{status.conversation.get_last_message.receiver}} {% endif %}
            <br>
            {{status.conversation.get_updated_ago.value}} {{status.conversation.get_updated_ago.units}} ago
        </td>
        <td class='preview'>
            <a href="{% url 'inbox:message_read_or_send' pk=status.conversation.id %}">{{status.conversation.get_last_message}}</a>
            <br>
            {{status.conversation.get_category_display}}
        </td>
        <!-- <td>{% if not conversation.is_read %}Unread{% else %}Read{% endif %}</td> -->
        <td>{% if not status.is_read %} Unread {% else %} Read {% endif %}</td>
    </tr>
</strong>
{% endfor %}
</table>


<style>
    table, th, td {
        border-bottom: 1px solid #c3c3c3;
        border-collapse: collapse;
        width:auto;
        padding: 5px 50px 5px 5px;
    }
    .preview {
        width: 175px;
    }

    .unread{
        font-weight: 700;
        background-color: #rgb(232,232,232)
    }
</style>
    


{% endblock %}