{% block body_block %}

<h3><a href="{% url 'dashboard:home' %}">Jawa</a> > <a href="{% url 'dashboard:dashboard' %}">Dashboard</a> > 
        {% if recipient.user_type == 1 %} <a href="{% url 'accounts:tenant_list' %}">Tenants </a>
        {% elif recipient.user_type == 2 %} <a href="{% url 'accounts:landlord_list' %}">Landlords</a>
        {% elif recipient.user_type == 3 %} <a href="{% url 'accounts:merchant_list' %}">Merchants</a> 
        {% endif %}
    </a> > <b>Conversation with {{recipient}}</b></h3>

<h4>Logged in as {{user}} ({{user.get_user_type_display}})</h4>

<form action="" method="post">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Send message">
</form>

{% endblock %}