{% block body_block %}

<h3><a href="{% url 'dashboard:home' %}">Jawa</a> > <a href="{% url 'dashboard:dashboard' %}">Dashboard</a> > <a href="{% url 'inbox:conversation_list' %}">Inbox</a> > 
    <b>Conversation with 
        {% if user == conversation.creator %} 
                {% if conversation.recipient.user_type == 4 %}
                        {{conversation.recipient.organization}}
                {% else %} 
                        {{conversation.recipient}}
                {% endif %}
        {% else %}
                {% if conversation.creator.user_type == 4 %}
                        {{conversation.creator.organization}}
                {% else %} 
                        {{conversation.creator}}
                {% endif %}
        {% endif %}
    </b></h3>
<h4>Logged in as {{user}} ({{user.get_user_type_display}})</h4>

<form action="" method="post">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Send reply">
</form>
{% for message in message_list %}
    {% if user.id == message.sender.id %}
    <div class="container">
        <table>
                <tr>
                    <td class="sender">{{message.sender}}<br>
                        {{message.get_updated_ago.value}} {{message.get_updated_ago.units}} ago <br>
                    </td>
                </tr>
                <tr>
                    <td class="message right">{{message.msg_content}}</td>                    
                </tr>
                <tr>
                    <td><div class="read">{% if message.message_status.is_read %} <span class="check">✓</span> READ {% else %} UNREAD {% endif %}</div></td>
                </tr>
        </table>
    {% else %}
        <table class='right'>
                <tr >
                    <td class="receiver">{{message.sender}}<br>
                        {{message.get_updated_ago.value}} {{message.get_updated_ago.units}} ago <br>
                    </td>
                </tr>
                <tr>
                    <td class="message">{{message.msg_content}}</td>
                </tr>
        </table>
    </div>
    {% endif %}
{% endfor %}




<style>

    table { 
        border-collapse: collapse;
        margin-bottom: 20px;
        margin: 0px 50px 20px 50px;
        /* border: solid black 1px; */
    }

    th, td { 
        width:300px; 
        padding:5px 
    } 

    .message{
        background: #e8e8e8;
        
        text-align:left;
        padding: 15px;
    }

    .sender{
        text-align:left; 
    }

    .receiver{
        text-align:right; 
    }
    .read{
        color:rgb(173, 173, 173)  ;
        font-size: x-small
    }
    .check{
        color:rgb(113, 191, 255);
        font-weight: bold;
    }


</style>
    


{% endblock %}